$gradation-color: linear-gradient(to bottom, #7D83EC, #334BF3);
$main-color:#374EF2;
$font-ko: 'Noto Sans KR', sans-serif;
$font-en: 'Almarai', sans-serif;
$white:#fafafa;
$black:#222222;
*{
    color:#222222;
    font-family: $font-ko;
    font-weight:400;
}
a{
    text-decoration: none;
    display: inline;
}
ul,li,ol{
    list-style:none;
}
button{
    cursor: pointer;
    border:none;
    background:none;
}
.contentBox{
   //width:1600px;
    
}

@media  (max-width:799px) {
    .contentBox{
        width:100%;
        height:auto;
    }
}

@media (min-width:800px) and (max-width:1600px) {
    .contentBox{
        width:1600px;
        height:100%;
        position: relative;
        height:800px;
        left:50%; top:50%;
        transform: translate(-50%,-50%);
    }
}
