.LogoZone{
    position: fixed;
    z-index:20;
    cursor: pointer;
    img{
        height:100%;
    }
}
@media  (max-width:799px) {
    .LogoZone{
        height:60px;
        left:10px; top:10px;
    }
}

@media (min-width:800px){
    .LogoZone{
        height:60px;
        left:30px; top:30px;
    }
}


