.LogoZone{
    position: fixed;
    left:30px; top:30px;
    z-index:20;
    cursor: pointer;
    img{
        height:100%;
        &.logoImg{
            float:left;
        }
        &.logoIcon{
            float:right;
        }
    }
}
@media  (max-width:799px) {
    .LogoZone{
        width: 75px;
        height:30px;
    }
}

@media (min-width:800px) and (max-width:1600px) {
    .LogoZone{
        width:140px;
        height:60px;
    }
}