.LogoZone{
    width:140px;
    height:60px;
    position: fixed;
    left:30px; top:30px;
    z-index:20;
    cursor: pointer;
    img{
        height:100%;
        &.logoImg{
            float:left;
        }
        &.logoIcon{
            float:right;
        }
    }
}