@import './Common.scss';

.RegionalList{
    width:50%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:50%;
    bottom:0;
    transform: translateX(-50%);
    .listBtn{
        &:hover{
            background-color:rgba(55,78,242,0.7);
            transition: all 0.2s;
            .before{
                transform: translate(-50%, -120%);
                transition-duration: 0.2s;
            }
            .after{
                transform: translate(-50%, 0%);
                transition-duration: 0.2s;
            }
        }
        cursor: pointer;
        background-color: rgba(0, 0, 0, 70%);
        border-radius: 30px;
        padding: 10px 20px;
        margin:10px;
        text-align:center;
        overflow: hidden;
        a{
            color:rgba(0, 0, 0, 0);
            font-size:25px;
            font-weight: 500;
            position: relative;
            span{
                position: absolute;
                left:50%;
                font-size:25px;
                width:100%;
                text-align: center;
                font-weight:500;
                &.before{
                    transform: translate(-50%, 0%);
                    color:$white;
                }
                &.after{
                    transform: translate(-50%, 120%);
                    color:$white;
                }
            }
            
        }
    }
}