@import './Common.scss';

.RegionalList{
    width:50%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:50%;
    bottom:0;
    transform: translateX(-50%);
    > div{
        &:hover{
            background: $gradation-color;
        }
        cursor: pointer;
        background-color: rgba(0, 0, 0, 70%);
        border-radius: 20px;
        padding: 10px 20px;
        margin:10px;
        text-align:center;
        a{
            color:#fafafa;
            font-size:25px;
            font-weight: 500;
        }
    }
}