.TitleText{
    text-align:center;
    //height:40%;
    
}
@media  (max-width:799px) {
    .logoImg{
        width:60%;
        margin-top:10%;
    }
}

@media (min-width:1600px) {
    .logoImg{
        width:30%;
    }
}