*{ margin: 0; padding: 0;}

html, body {
    width: 100%;
    height: 100%;
    font-size: 10px;
    overflow: hidden;
    background-color: #F4F6F9;
}
h1{
    font-size:2.5rem;
    color:#333;
    width:120rem;
    text-align: left;
    position: relative;
    left: 50%;
    transform: translateX(-40%);
}
h1:nth-of-type(1){padding-bottom:10px;}
h1:nth-of-type(2){padding:20px 0 10px 0;}
#admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4rem;
    width: 120rem;
    height: 80rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 1rem;
}
#saveDB {
    width:70%;
    padding:4% 5% 6% 5% ;
    border:1px solid #d9d9d9;
    border-radius: 10px;
    background-color:#fafafa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
    justify-content: space-between;
    position: relative;
}
#saveButton{
   position: absolute;
   right:6%;
   bottom:8%;
   cursor: pointer;
}
#readDB {
    width: 70%;
    padding:4% 5%;
    border:1px solid #d9d9d9;
    background-color:#fafafa;
    border-radius: 10px;
    height: 42.4%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
#titleAddress{
    width: 48%;
    height: 18rem;
    display: flex;
    flex-direction: column;  
}
#titleAddress:nth-of-type(1) { 
    justify-content: center; 
}
#titleAddress:nth-of-type(2) { 
    justify-content: space-around;
}
.titleAddress, #address, #title {
    padding:5px;
    font-size: 14px;
}
.questionText {
    font-size: 1.2rem;
    padding: .4rem;
    height: 10rem;
    resize: none;
}
button {
    padding: 5px 15px;
    font-size: 15px;
    display: flex;
    background-color:#1A267D;
    border:none;
    color:#fafafa;
    border-radius:10px;
}
.dbList {
    overflow-y: scroll;
    overflow-x: clip;
    margin: 0.5rem;
    width: 100%;
}
.dbList::-webkit-scrollbar{
    width:5px;

}
.dbList::-webkit-scrollbar-track-piece{
    background-color: #d9d9d9;
}
.dbList::-webkit-scrollbar-thumb {
        background-color: #6d6d6d;
        border-radius: .8rem;
    }
/*
&::-webkit-scrollbar-thumb {
        background-color:#6D6D6D;
        border-radius: .8rem;
    }

    &::-webkit-scrollbar-track-piece {
        background-color: #d9d9d9;
        border-radius: .8rem;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
    &::-webkit-scrollbar {
        width: 1rem;
    }
    */
.dbList > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    font-size: 16px;
    padding-left:10px;
    width: 98.5%;
}
.dbList > div:nth-of-type(odd){
    background-color: #e3e3e3;
}
.dbList > div:hover {
    background-color: #ddd;
}

.dbList > div > div > button {
    cursor: pointer;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.dbQuestionText {
    width: 70%;
    height: 80%;
    padding: 2rem;
    border: 1px solid #ddd;
    display: none;
    top: 5.5%;
    overflow-y: scroll;
    position: absolute;
    background-color: #fafafa;
}
.dbQuestionText > div {
    width: 100%;
}
.dbQuestionText > div > a {
    display: block;
    width: 100%;
    overflow: clip;
}
div.displayFlag > .dbQuestionText {
    display: flex;
    flex-direction: column;
}
.qu > p {
    pointer-events: none;
}